@import "tailwindcss";

/* Hide scrollbar on mobile but still scrollable */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.perspective {
  perspective: 1000px;
}


/* Hanya sembunyikan scrollbar di mobile & tablet (≤768px) */
@media (max-width: 768px) {
  .hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;    
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;       
  }      
}